@font-face {
  font-family: 'inter-var';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('./InterVariable.woff2') format('woff2-variations'),
    url('./InterVariable.woff2') format('woff2');
  src: url('./InterVariable.woff2') format('woff2');
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 0;
}
:root {
  --background-color: #fff;
  --foreground-color: #050505;
  --link-color: #0056ec;
  --link-visited-color: #8228f4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #111;
    --foreground-color: #eee;
    --link-color: #70cafc;
    --link-visited-color: #b79eff;
  }
}

body {
  font-size: 17px;
  font-family: inter-var;
  font-weight: 450;
  line-height: 1.4;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

a[href] {
  color: var(--link-color);
  text-decoration: none;
}

a[href]:visited {
  color: var(--link-visited-color);
}

a[href]:hover {
  text-decoration: underline;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  max-width: 60ch;
}
a {
  color: black;
}

ul {
  list-style: none;
}

form {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
form input[type='text'] {
  border-width: 0;
  border-bottom-width: 2px;
}

form input,
textarea {
  font: inherit;
  background: transparent;
  border: 2px solid var(--foreground-color);
  color: var(--foreground-color);
  margin-bottom: 20px;
  line-height: 1.8;
  width: 250px;
}

button {
  border: 2px solid var(--foreground-color);
  color: var(--foreground-color);
  border-radius: 7px;
  font-size: inherit;
  background: transparent;
  padding: 3px;
  padding-inline: 6px;
  width: 250px;
}

.card {
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  margin-bottom: 40px;
}

.card.title.color {
  background-color: hsl(0deg 0% 90%);
}

.card.title .content {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.card.title h1 {
  color: black;
  padding-top: 300px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 42px;
}

.card .content {
  flex: 1 1 auto;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.card.infogrid > .content {
  max-width: 1200px;
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-areas: 'content1 content2';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  /* padding-inline: 80px; */
  margin-left: auto;
  margin-right: auto;
}

.content1 {
  grid-area: content1;
}

.content2 {
  grid-area: content2;
}

footer {
  margin-top: 40px;
  font-size: 12px;
  color: rgb(151, 151, 151);
}
